* {
    background:     rgba(30, 33, 39, 0.8);
    background-alt: rgba(40, 43, 49, 0.8);
    foreground:     #FFFFFFFF;
    selected:       rgba(97, 175, 239, 0.8);
    active:         rgba(152, 195, 121, 0.8);
    urgent:         rgba(224, 108, 117, 0.8);
}
