/**
 * Rofi Main Configuration File
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Reorganized configuration for better maintainability
 * Configuration For Rofi Version: 1.7.3
 **/

/* Import modular configuration */
@import "config/main.rasi"
