# General
updates="$HOME/.config/waybar/scripts/system/pacman/pacman_system.sh"
alias update="$updates"
alias c="clear"
alias q="exit"
alias hd="hexdump -C"
alias nanosu="sudo nano"
alias vimsu="sudo vim"
alias nvimsu="sudo nvim"

# System Maintenance
alias pacrem="sudo pacman -Rcns"
alias yayupd="yay -Sy"
alias yayupg="yay -Syu"
alias trimall="sudo fstrim -va"
alias reflesh="sudo reflector --verbose --latest 5 --sort rate --save /etc/pacman.d/mirrorlist"

# Package Management (Pacman)
alias pcs="sudo pacman -S"
alias pcr="sudo pacman -R"
alias pcrs="sudo pacman -Rs"
alias pcsyu="sudo pacman -Syu && $updates"
alias grub-update="sudo grub-mkconfig -o /boot/grub/grub.cfg"
alias mantenimiento="yay -Sc && sudo pacman -Scc && $updates"
alias purga="sudo pacman -Rns \$(pacman -Qtdq) && sudo fstrim -av"
alias delete="sudo pacman -Rns"

# Shortcuts
alias zshconfig="nvim ~/.zshrc"
alias ohmyzsh="thunar ~/.oh-my-zsh"

# LS ALIASES
alias ls='eza --icons --group-directories-first'
alias l='eza -lh --icons --group-directories-first'
alias la='eza -a --icons --group-directories-first'
alias ll='eza -lha --icons --group-directories-first'
alias lt='eza --tree --icons --group-directories-first'
alias lg='eza -l --icons --group-directories-first --git'
alias lm='eza -lh --icons --group-directories-first --sort=modified'
alias lS='eza -lh --icons --group-directories-first --sort=size'
alias lC='eza -lh --icons --group-directories-first --sort=created'



alias cat='bat'
alias catn='/bin/cat'
alias catnl='bat --paging=never'
