* {
  font-size: 16px;
  font-family: "Fira Code", "FontAwesome", "Material Design Icons Desktop";
  font-weight: bold;
  padding: 2px;
}

/* Estilos para el tooltip del widget del reloj */
tooltip {
  color: #a6a192;
  border-radius: 16px;
  font-size: 14px;
  /*max-width: 300px;
  text-align: center;*/
}
#clock {
  color: #f1aa40;
  border-radius: 0 12px 12px 0;
}

window#waybar {
  background-color: transparent;
  border-bottom: 0px solid #ffffff;
  /* color: #FFFFFF; */
  transition-property: background-color;
  transition-duration: 0.5s;
}

#custom-right-dark,
#custom-left-dark {
  background-color: #1a1a1a;
  color: #ffffff;
}
#custom-notification {
  color: rgb(182, 25, 25);
  border-radius: 12px 0 0 12px;
}

#battery {
  color: #aeff00;
  border-radius: 0 12px 12px 0;
}

#custom-pacman {
  color: #e1e410;
  border-radius: 0 12px 12px 0;
}

#network {
  color: #fdf6e3;
}

#bluetooth {
  color: #15d056;
}

#custom-launch {
  border-radius: 12px;
  color: #0061ff;
}

#custom-powermenu {
  color: red;
  border-radius: 12px;
}

#memory {
  border-radius: 12px 0 0 12px;
  color: #15d056;
}

#temperature {
  color: #0061ff;
}

/* -----------------------------------------------------
   * Workspaces
   * ----------------------------------------------------- */

#workspaces {
  background: rgba(0, 0, 0, 0.589); /* Fondo semitransparente */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Difuminado */
  margin: 5px 1px 6px 1px;
  padding: 0 10px;
  border-radius: 12px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  color: #f700ff;
  transition: all 0.3s ease-in-out;
}

#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  color: black;
  background-color: #fdf6e3;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
  color: #fdf6e3;
  background: #1e58a5;
  border-radius: 15px;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button:hover {
  color: black;
  background: #11aaeb;
  border-radius: 15px;
  opacity: 0.7;
}

#pulseaudio {
  color: #009eff;
}

#backlight {
  color: #b58900;
}

#cpu {
  color: #f700ff;
}

/*
  BackGround
  
  */

#network {
  border-radius: 12px 0 0 12px;
  color: #0061ff;
}
#tray {
  border-radius: 12px;
}
tooltip,
#custom-notification,
#clock,
#bluetooth,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery,
#network,
#tray,
#custom-pacman,
#custom-launch,
#custom-powermenu {
  background: rgba(0, 0, 0, 0.589);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  margin: 5px 0 6px 0;
}
